/*color type */
$darkness : blueviolet;
$darknessLight: rgba(137, 43, 226, 0.3);
$earth:darkgreen;
$earthLight:rgba(0, 100, 0, 0.3);
$fire:red;
$fireLight:rgba(255, 0, 0, 0.3);
$ice:lightblue;
$iceLight:rgba(173, 216, 230, 0.3);
$light:yellow;
$lightLight:rgba(255, 255, 0, 0.3);
$neutral:black;
$neutralLight:rgba(0, 0, 0, 0.3);
$physic:grey;
$physicLight:rgba(128, 128, 128, 0.3);
$water:darkblue;
$waterLight:rgba(0, 0, 139, 0.3);
$wind:lightgreen;
$windLight:rgba(144, 238, 144, 0.3);